.header__logo {
    width: 142px;
    height: 33px;
    padding: 45px 0 41px 0;
}

@media screen and (max-width: 880px) {
    .header__logo {
        padding-left: 27px;
    }
}

@media screen and (max-width: 425px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        padding-top: 28px;
        padding-bottom: 32px;
    }
}